html {
    height: 100%;
    margin: 0px;
    background-image: linear-gradient(to bottom, #57e9f396 5%,rgb(255, 255, 255) 95%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    color: rgb(0, 0, 0);
    size: 125%;
}

#Libutton{
    background-color: black;
    color: rgb(0, 0, 0);
    border-radius: 100%;
    padding: 10px;
    font-size: large
}

nav{
    background-color: #5feefa96(17, 17, 17, 0.507);
    background-image: none;
    margin: ;
    color: rgb(0, 0, 0);
}
#centerCard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 300px; 
    background-color: rgb(221, 200, 142);
    border: 20px;
    border-style: line;
    border-color: white;
    border-radius: 60px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.068);
    height: 45%;
}
#faceCard{
    height: 175px; 
    width: 175px; 
    border: 2px;
    border-radius: 60%;
}